<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is page to show all the existing users</h1>
    {{#if data}}
    {{#each data}}
    <li>{{email}}</li>
    <li>{{password}}</li>
    {{/each}}
    {{else}}
    <h1>No Users found</h1>
    {{/if}}
</body>
</html>